{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<section id="footer">
		<div class="inner">
			{% if page.contact %}
			<h2 class="major">Get in touch</h2>
			<p>
				You can reach us using the contact form bellow or you can join
				us on our Discord Server. But the most important thing is that
				we definitely want to hear from you!
			</p>
			<iframe
				class="contact"
				src="https://discord.com/widget?id=750824205557432393&theme=dark"
				allowtransparency="true" frameborder="0" sandbox="allow-popups
				allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
			</iframe>
			<!--<ul class="contact">
				<li class="fa-home">
					Untitled Inc<br />
					1234 Somewhere Road Suite #2894<br />
					Nashville, TN 00000-0000
				</li>
				<li class="fa-phone">(000) 000-0000</li>
				<li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
				<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
				<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
				<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
			</ul>-->
			{% endif %}
			<div class="copyright">
				{% include content/copyright.html %}
			</div>
		</div>
	</section>