{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<h2 class="major">Get in touch</h2>
			<p>You can reach us using the contact form bellow or you can join us on our <a href="{{ site.discord_server }}">Discord Server</a>. But the most important thing is that we definitely want to hear from you!</p>
			<form method="post" action="{{ site.contact }}">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
				</ul>
			</form>
			<iframe
				class="contact"
				src="https://discord.com/widget?id=750824205557432393&theme=dark"
				allowtransparency="true" frameborder="0" sandbox="allow-popups
				allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
			</iframe>
			<!--<ul class="contact">
				<li class="fa-home">
					Untitled Inc<br />
					1234 Somewhere Road Suite #2894<br />
					Nashville, TN 00000-0000
				</li>
				<li class="fa-phone">(000) 000-0000</li>
				<li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
				<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
				<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
				<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
			</ul>-->
			<ul class="copyright">
				<li>&copy; Untitled Inc. All rights reserved.</li>
			</ul>
		</div>
	</section>