<p>
Privateer Press®, WARMACHINE®, Cephalyx, Convergence of Cyriss®, Convergence, Cryx®, Cygnar®, Khador®, Protectorate of Menoth®, Protectorate, Retribution of Scyrah®, Retribution, warcaster®, warjack®, HORDES®, Circle Orboros®, Circle, Grymkin, Grymkin: The Wicked Harvest, Legion of Everblight®, Legion, Skorne®, Trollbloods®, Trollblood, warbeast, and all associated logos and slogans are trademarks and/or intelectual property of Privateer Press, Inc.
</p>

<p>
Images originating from the Privateer Press website and the Discord logo are copyrighted by their respective owners. {{ site.title }} is not produced by or endorsed by these services. Copyrighted material is used on basis of Fair Use where applicable.
</p>

<p>
{{ site.title }} logo made by Freepik from www.flaticon.com
</p>

<p>
All other content &copy; 2020 {{ site.title }}. All rights reserved.
</p>